flow_cc.json
[
    {
        "id": "59fc943e25473645",
        "type": "tab",
        "label": "flow_mcc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54d516e85c4f91e1",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "a37dc311a0019c82"
            ]
        ]
    },
    {
        "id": "a37dc311a0019c82",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "ImageTemplate",
        "order": 7,
        "width": 6,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7ef3f6f4b664a664",
        "type": "base64",
        "z": "59fc943e25473645",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "54d516e85c4f91e1"
            ]
        ]
    },
    {
        "id": "38dad13de1c1547a",
        "type": "http request",
        "z": "59fc943e25473645",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://{{ipaddress}}:8080/?action=snapshot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 360,
        "wires": [
            [
                "7ef3f6f4b664a664",
                "337ff149a1b382ad"
            ]
        ]
    },
    {
        "id": "9497df38cc994cc2",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "VideoTemplate",
        "order": 6,
        "width": 6,
        "height": 5,
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3e2fd4b68b2cc6",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 width=640 height=480\n    style=\"-webkit-transform:scale(1.0);-moz-transform-scale(0.5);\"\n    src=\"http://{{ipaddress}}:8080/?action=stream/\"></iframe>",
        "output": "str",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "9497df38cc994cc2"
            ]
        ]
    },
    {
        "id": "3174f03bedd6f49b",
        "type": "file",
        "z": "59fc943e25473645",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 860,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "337ff149a1b382ad",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "",
        "func": "let now = new Date().toISOString().replace(/:/g, \"-\")\n//node.warn(now);\nlet folder = msg.filename;\nnode.warn(folder);\nmsg.filename = `/media/usb/${folder}/${now}.jpg`\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "3174f03bedd6f49b"
            ]
        ]
    },
    {
        "id": "3eee82ad3c5aad6b",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load Video",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "17c7a3ef67c6e975"
            ]
        ]
    },
    {
        "id": "21ce6be17c95aa7a",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "Filename",
        "label": "Directory NAME",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "filename",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "6e0990af.ffd42",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "check filename",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 580,
        "wires": [
            [
                "337ff149a1b382ad"
            ],
            [
                "20ac677d.a76908"
            ]
        ]
    },
    {
        "id": "20ac677d.a76908",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "generate error",
        "func": "node.error(\"directory not set!\");\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4587a458bbbc04",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "IP Address",
        "label": "IP Address: ",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "ipaddress",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "98bfc90366312100"
            ]
        ]
    },
    {
        "id": "17c7a3ef67c6e975",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get address from flow",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "ad3e2fd4b68b2cc6"
            ]
        ]
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "98bfc90366312100",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0e6dbc27ca4d8f58",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "21ce6be17c95aa7a"
            ]
        ]
    },
    {
        "id": "6b68a4c943aba29d",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "ab4587a458bbbc04"
            ]
        ]
    },
    {
        "id": "c4f7df8e60b955df",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "2fa4022ecb3751f1",
                "a0411ebe3262c89d"
            ]
        ]
    },
    {
        "id": "2fa4022ecb3751f1",
        "type": "rpi-gpio out",
        "z": "59fc943e25473645",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "505ecf441a85cb4f",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "cb1e5adc.4845e8"
            ]
        ]
    },
    {
        "id": "9b37e9c979661a32",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "STOP",
        "payloadType": "str",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "5ca9986c2778a766"
            ]
        ]
    },
    {
        "id": "cb1e5adc.4845e8",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "c4f7df8e60b955df"
            ]
        ]
    },
    {
        "id": "5ca9986c2778a766",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1280,
        "wires": [
            [
                "cb1e5adc.4845e8"
            ]
        ]
    },
    {
        "id": "f4867a0aec85dc63",
        "type": "debug",
        "z": "59fc943e25473645",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a0411ebe3262c89d",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "6c29507c65fd6f28"
            ],
            []
        ]
    },
    {
        "id": "80190cea81d88c8c",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "Is Folder Named",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 1400,
        "wires": [
            [
                "f4867a0aec85dc63"
            ],
            [
                "ae00a754668e0911"
            ]
        ]
    },
    {
        "id": "b46a7bc21f95b4c7",
        "type": "debug",
        "z": "59fc943e25473645",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6c29507c65fd6f28",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get filename from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1380,
        "wires": [
            [
                "80190cea81d88c8c"
            ]
        ]
    },
    {
        "id": "ae00a754668e0911",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "function 1",
        "func": "msg.payload = \"nothing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "b46a7bc21f95b4c7"
            ]
        ]
    },
    {
        "id": "adb3115c4477b004",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "aa1d1654c4c87a63",
                "9a242c2888fab742"
            ]
        ]
    },
    {
        "id": "aa1d1654c4c87a63",
        "type": "rpi-gpio out",
        "z": "59fc943e25473645",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "9a242c2888fab742",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "37f35d58.4dab42",
                "825e560128135f83"
            ],
            []
        ]
    },
    {
        "id": "8e7516098193e4ae",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "adb3115c4477b004"
            ]
        ]
    },
    {
        "id": "37f35d58.4dab42",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get address from flow",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "38dad13de1c1547a"
            ]
        ]
    },
    {
        "id": "6b9060647178f6b2",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "8e7516098193e4ae"
            ]
        ]
    },
    {
        "id": "825e560128135f83",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get filename from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "6e0990af.ffd42"
            ]
        ]
    },
    {
        "id": "9e442bbe5ea6375c",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "8e7516098193e4ae"
            ]
        ]
    },
    {
        "id": "cae5d41670a47f2c",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "6b9060647178f6b2"
            ]
        ]
    },
    {
        "id": "9f4bace2.7b09a",
        "type": "ui_group",
        "name": "MJPEG Encoder",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]