flows_cc.json
[
    {
        "id": "59fc943e25473645",
        "type": "tab",
        "label": "flow_mcc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54d516e85c4f91e1",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "a37dc311a0019c82"
            ]
        ]
    },
    {
        "id": "a37dc311a0019c82",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "ImageTemplate",
        "order": 11,
        "width": 6,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7ef3f6f4b664a664",
        "type": "base64",
        "z": "59fc943e25473645",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "54d516e85c4f91e1"
            ]
        ]
    },
    {
        "id": "38dad13de1c1547a",
        "type": "http request",
        "z": "59fc943e25473645",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://{{ipaddress}}:8080/?action=snapshot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 360,
        "wires": [
            [
                "7ef3f6f4b664a664",
                "6e0990af.ffd42",
                "553128747fd995c2"
            ]
        ]
    },
    {
        "id": "9497df38cc994cc2",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "VideoTemplate",
        "order": 10,
        "width": 6,
        "height": 5,
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3e2fd4b68b2cc6",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 width=640 height=480\n    style=\"-webkit-transform:scale(1.0);-moz-transform-scale(0.5);\"\n    src=\"http://{{ipaddress}}:8080/?action=stream/\"></iframe>",
        "output": "str",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "9497df38cc994cc2"
            ]
        ]
    },
    {
        "id": "3174f03bedd6f49b",
        "type": "file",
        "z": "59fc943e25473645",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "337ff149a1b382ad",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "",
        "func": "let now = new Date().toISOString().replace(/:/g, \"-\")\n//node.warn(now);\nlet folder = msg.filename;\nif (folder != undefined){\n    node.warn(msg.payload);\n    msg.filename = `/media/usb/${folder}/${now}.jpg`\n    return msg;\n}\nelse{\n    msg = null;\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 540,
        "wires": [
            [
                "3174f03bedd6f49b"
            ]
        ]
    },
    {
        "id": "3eee82ad3c5aad6b",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "摄像头录影",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "17c7a3ef67c6e975"
            ]
        ]
    },
    {
        "id": "21ce6be17c95aa7a",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "Filename",
        "label": "文件夹名（英文）",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "filename",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "6e0990af.ffd42",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "check filename",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 580,
        "wires": [
            [
                "337ff149a1b382ad"
            ],
            [
                "20ac677d.a76908"
            ]
        ]
    },
    {
        "id": "20ac677d.a76908",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "generate error",
        "func": "node.error(\"directory not set!\");\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4587a458bbbc04",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "IP Address",
        "label": "IP地址： ",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "ipaddress",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 390,
        "y": 820,
        "wires": [
            [
                "98bfc90366312100"
            ]
        ]
    },
    {
        "id": "17c7a3ef67c6e975",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get address from flow",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "ad3e2fd4b68b2cc6"
            ]
        ]
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "98bfc90366312100",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0e6dbc27ca4d8f58",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "photos",
        "payloadType": "str",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "21ce6be17c95aa7a"
            ]
        ]
    },
    {
        "id": "6b68a4c943aba29d",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with 192.168.5.1 string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "192.168.5.1",
        "payloadType": "str",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "ab4587a458bbbc04"
            ]
        ]
    },
    {
        "id": "adb3115c4477b004",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "9a242c2888fab742",
                "8fa58cb3fd43851c"
            ]
        ]
    },
    {
        "id": "9a242c2888fab742",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "825e560128135f83"
            ],
            []
        ]
    },
    {
        "id": "8e7516098193e4ae",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "adb3115c4477b004"
            ]
        ]
    },
    {
        "id": "37f35d58.4dab42",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get address from flow",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "38dad13de1c1547a"
            ]
        ]
    },
    {
        "id": "6b9060647178f6b2",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "8e7516098193e4ae"
            ]
        ]
    },
    {
        "id": "825e560128135f83",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get filename from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "37f35d58.4dab42"
            ]
        ]
    },
    {
        "id": "9e442bbe5ea6375c",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "采样",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "33116c254267c2bb",
                "5c42aee430091e34"
            ]
        ]
    },
    {
        "id": "cae5d41670a47f2c",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "停止",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "6b9060647178f6b2"
            ]
        ]
    },
    {
        "id": "01dd93d3349fe357",
        "type": "ui_numeric",
        "z": "59fc943e25473645",
        "name": "",
        "label": "采样时间 (分钟）",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 6,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "maxtime",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": "1",
        "className": "",
        "x": 350,
        "y": 900,
        "wires": [
            [
                "8fa5da7fcb95e888"
            ]
        ]
    },
    {
        "id": "dcf059d5d1bf4a11",
        "type": "delay",
        "z": "59fc943e25473645",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "cae5d41670a47f2c"
            ]
        ]
    },
    {
        "id": "6da9abae2ba3b03d",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxtime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b9113f2a300ff4b3",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "01dd93d3349fe357"
            ]
        ]
    },
    {
        "id": "33116c254267c2bb",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get maxtime from flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "maxtime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "dcf059d5d1bf4a11"
            ]
        ]
    },
    {
        "id": "8fa5da7fcb95e888",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "Convert Minutes to minisec",
        "func": "msg.payload = msg.payload * 60 *1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 960,
        "wires": [
            [
                "6da9abae2ba3b03d"
            ]
        ]
    },
    {
        "id": "508b85e4d437fae8",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "str",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "992bc11f.dc2a4"
            ]
        ]
    },
    {
        "id": "c04b4a38d002b5d1",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lightstrength",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "5c42aee430091e34",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get lightstrength from flow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lightstrength",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "8e7516098193e4ae"
            ]
        ]
    },
    {
        "id": "8fa58cb3fd43851c",
        "type": "rpi-gpio out",
        "z": "59fc943e25473645",
        "name": "",
        "pin": "21",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "4bc92110.64406",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "93892d22.50ab8",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\nmd-slider[md-discrete] .md-sign,\nmd-slider[md-discrete] .md-sign:after {\n opacity: 1;\n -webkit-transform: translate3d(0, 0, 0) scale(1);\n transform: translate3d(0, 0, 0) scale(1);\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 300,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "992bc11f.dc2a4",
        "type": "ui_slider",
        "z": "59fc943e25473645",
        "name": "",
        "label": "光强",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "c04b4a38d002b5d1"
            ]
        ]
    },
    {
        "id": "553128747fd995c2",
        "type": "debug",
        "z": "59fc943e25473645",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "9f4bace2.7b09a",
        "type": "ui_group",
        "name": "RPiCamera",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93892d22.50ab8",
        "type": "ui_group",
        "name": "charts",
        "tab": "a24618c5.be59c8",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a24618c5.be59c8",
        "type": "ui_tab",
        "name": "tab 1",
        "icon": "weekend",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
