flows_cc.json
[
    {
        "id": "59fc943e25473645",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54d516e85c4f91e1",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "a37dc311a0019c82"
            ]
        ]
    },
    {
        "id": "a37dc311a0019c82",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "ImageTemplate",
        "order": 7,
        "width": 6,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7ef3f6f4b664a664",
        "type": "base64",
        "z": "59fc943e25473645",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "54d516e85c4f91e1"
            ]
        ]
    },
    {
        "id": "38dad13de1c1547a",
        "type": "http request",
        "z": "59fc943e25473645",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://{{ipaddress}}:8080/?action=snapshot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "7ef3f6f4b664a664",
                "337ff149a1b382ad"
            ]
        ]
    },
    {
        "id": "9497df38cc994cc2",
        "type": "ui_template",
        "z": "59fc943e25473645",
        "group": "9f4bace2.7b09a",
        "name": "VideoTemplate",
        "order": 6,
        "width": 6,
        "height": 5,
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3e2fd4b68b2cc6",
        "type": "template",
        "z": "59fc943e25473645",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 width=640 height=480\n    style=\"-webkit-transform:scale(1.0);-moz-transform-scale(0.5);\"\n    src=\"http://{{ipaddress}}:8080/?action=stream/\"></iframe>",
        "output": "str",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "9497df38cc994cc2"
            ]
        ]
    },
    {
        "id": "3174f03bedd6f49b",
        "type": "file",
        "z": "59fc943e25473645",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "337ff149a1b382ad",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "",
        "func": "let now = new Date().toISOString().replace(/:/g, \"-\")\n//node.warn(now);\nlet folder = msg.payload;\nnode.warn(folder);\nmsg.filename = `/media/usb/${folder}/${now}.jpg`\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "3174f03bedd6f49b"
            ]
        ]
    },
    {
        "id": "3eee82ad3c5aad6b",
        "type": "ui_button",
        "z": "59fc943e25473645",
        "name": "",
        "group": "9f4bace2.7b09a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CAPTURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "filename",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a235185224fe1e7c"
            ]
        ]
    },
    {
        "id": "21ce6be17c95aa7a",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "Filename",
        "label": "Directory NAME",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "filename",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "6e0990af.ffd42",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "check filename",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "337ff149a1b382ad"
            ],
            [
                "20ac677d.a76908"
            ]
        ]
    },
    {
        "id": "37f35d58.4dab42",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get filename from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "6e0990af.ffd42"
            ]
        ]
    },
    {
        "id": "20ac677d.a76908",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "generate error",
        "func": "node.error(\"directory not set!\");\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4587a458bbbc04",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "IP Address",
        "label": "IP Address: ",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "ipaddress",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "98bfc90366312100"
            ]
        ]
    },
    {
        "id": "17c7a3ef67c6e975",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get address from flow",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "38dad13de1c1547a",
                "ad3e2fd4b68b2cc6"
            ]
        ]
    },
    {
        "id": "a235185224fe1e7c",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "CallTextInput",
        "func": "switch (msg.topic) {\n    case \"ipaddress\":\n        msg.ipaddress = msg.payload;\n        break;\n    case \"filename\":\n        msg.filename = msg.payload;\n        break;\n    case \"duration\":\n        msg.duration = msg.payload;\n        break;\n    case \"sampletime\":\n        msg.sampletime = msg.payload;\n        break;        \n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 360,
        "wires": [
            [
                "17c7a3ef67c6e975",
                "37f35d58.4dab42"
            ]
        ]
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "98bfc90366312100",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0e6dbc27ca4d8f58",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "21ce6be17c95aa7a"
            ]
        ]
    },
    {
        "id": "6b68a4c943aba29d",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "ab4587a458bbbc04"
            ]
        ]
    },
    {
        "id": "e840e8b290aab1b2",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "MaxTime",
        "label": "",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "duration",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 920,
        "wires": [
            [
                "b74fe23ed6ff0441"
            ]
        ]
    },
    {
        "id": "71f3c3ce3d14dc78",
        "type": "ui_text_input",
        "z": "59fc943e25473645",
        "name": "SampleTime",
        "label": "",
        "tooltip": "",
        "group": "9f4bace2.7b09a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sampletime",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "0bf99916cd72b517"
            ]
        ]
    },
    {
        "id": "71582ac0e6916faa",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "e840e8b290aab1b2"
            ]
        ]
    },
    {
        "id": "a4395ac4792f2046",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "71f3c3ce3d14dc78"
            ]
        ]
    },
    {
        "id": "b74fe23ed6ff0441",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "duration",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0bf99916cd72b517",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sampletime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f7df8e60b955df",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "2fa4022ecb3751f1",
                "a0411ebe3262c89d"
            ]
        ]
    },
    {
        "id": "2fa4022ecb3751f1",
        "type": "rpi-gpio out",
        "z": "59fc943e25473645",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "505ecf441a85cb4f",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "cb1e5adc.4845e8"
            ]
        ]
    },
    {
        "id": "9b37e9c979661a32",
        "type": "inject",
        "z": "59fc943e25473645",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "STOP",
        "payloadType": "str",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "5ca9986c2778a766"
            ]
        ]
    },
    {
        "id": "cb1e5adc.4845e8",
        "type": "trigger",
        "z": "59fc943e25473645",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "c4f7df8e60b955df"
            ]
        ]
    },
    {
        "id": "5ca9986c2778a766",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1280,
        "wires": [
            [
                "cb1e5adc.4845e8"
            ]
        ]
    },
    {
        "id": "f4867a0aec85dc63",
        "type": "debug",
        "z": "59fc943e25473645",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a0411ebe3262c89d",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "6c29507c65fd6f28"
            ],
            []
        ]
    },
    {
        "id": "80190cea81d88c8c",
        "type": "switch",
        "z": "59fc943e25473645",
        "name": "Is Folder Named",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 1400,
        "wires": [
            [
                "f4867a0aec85dc63"
            ],
            [
                "ae00a754668e0911"
            ]
        ]
    },
    {
        "id": "b46a7bc21f95b4c7",
        "type": "debug",
        "z": "59fc943e25473645",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6c29507c65fd6f28",
        "type": "change",
        "z": "59fc943e25473645",
        "name": "get filename from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1380,
        "wires": [
            [
                "80190cea81d88c8c"
            ]
        ]
    },
    {
        "id": "ae00a754668e0911",
        "type": "function",
        "z": "59fc943e25473645",
        "name": "function 1",
        "func": "msg.payload = \"nothing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "b46a7bc21f95b4c7"
            ]
        ]
    },
    {
        "id": "9f4bace2.7b09a",
        "type": "ui_group",
        "name": "MJPEG Encoder",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]