rpi_cam.json
[
    {
        "id": "ea8c30375127ce48",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac18dde525ea42f3",
        "type": "template",
        "z": "ea8c30375127ce48",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "dc2776abc0b593ec"
            ]
        ]
    },
    {
        "id": "dc2776abc0b593ec",
        "type": "ui_template",
        "z": "ea8c30375127ce48",
        "group": "a4244ab9a132ff7a",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d148c7ae53b8fcca",
        "type": "ui_text",
        "z": "ea8c30375127ce48",
        "group": "a4244ab9a132ff7a",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Prediction: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "896962b0604bf3e7",
        "type": "teachable machine",
        "z": "ea8c30375127ce48",
        "name": "",
        "mode": "online",
        "modelUrl": "https://teachablemachine.withgoogle.com/models/_OGgPNEIv/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "5efe29654beb44c2"
            ]
        ]
    },
    {
        "id": "422427301b89e8da",
        "type": "ui_button",
        "z": "ea8c30375127ce48",
        "name": "",
        "group": "a4244ab9a132ff7a",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "d148c7ae53b8fcca",
                "a3717f038573883e"
            ]
        ]
    },
    {
        "id": "5efe29654beb44c2",
        "type": "function",
        "z": "ea8c30375127ce48",
        "name": "",
        "func": "msg.backup = msg.payload\nmsg.payload = msg.backup[0].class \nmsg.score = msg.backup[0].score.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "d148c7ae53b8fcca",
                "a3717f038573883e"
            ]
        ]
    },
    {
        "id": "38b84cc0c2cbffae",
        "type": "base64",
        "z": "ea8c30375127ce48",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "ac18dde525ea42f3"
            ]
        ]
    },
    {
        "id": "b4711266e560e1ee",
        "type": "http request",
        "z": "ea8c30375127ce48",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://{{query}}/html/cam_pic.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "896962b0604bf3e7",
                "38b84cc0c2cbffae"
            ]
        ]
    },
    {
        "id": "65468a718d0e7945",
        "type": "ui_template",
        "z": "ea8c30375127ce48",
        "group": "d4d5246445f9408f",
        "name": "",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<iframe id=\"myFrame\" width=\"640\" height=\"480\" src = \"\" style=\"-webkit-transform:scale(1);-moz-transform-scale(1);\"></iframe>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', \"http://\"+msg.payload+\"/html/min.php\"); \n        });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c115eab5b49f82a9",
        "type": "ui_button",
        "z": "ea8c30375127ce48",
        "name": "",
        "group": "a4244ab9a132ff7a",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture Image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "defafce4b75bf755"
            ]
        ]
    },
    {
        "id": "a3717f038573883e",
        "type": "ui_text",
        "z": "ea8c30375127ce48",
        "group": "a4244ab9a132ff7a",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Accuracy",
        "format": "{{msg.score}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "defafce4b75bf755",
        "type": "ip",
        "z": "ea8c30375127ce48",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "7c18b00f305d7615"
            ]
        ]
    },
    {
        "id": "7c18b00f305d7615",
        "type": "function",
        "z": "ea8c30375127ce48",
        "name": "",
        "func": "msg.backup = msg.payload;\nmsg.payload = msg.backup['internalIPv4'];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 240,
        "wires": [
            [
                "d6f4473f61bd08a0",
                "b2d268774d234278"
            ]
        ]
    },
    {
        "id": "b1f7a417edb8309d",
        "type": "inject",
        "z": "ea8c30375127ce48",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 50,
        "y": 420,
        "wires": [
            [
                "defafce4b75bf755"
            ]
        ]
    },
    {
        "id": "d6f4473f61bd08a0",
        "type": "change",
        "z": "ea8c30375127ce48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "b4711266e560e1ee"
            ]
        ]
    },
    {
        "id": "b2d268774d234278",
        "type": "rbe",
        "z": "ea8c30375127ce48",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "65468a718d0e7945"
            ]
        ]
    },
    {
        "id": "e47aad0e7233d96a",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "87c2752c2d1e36f4",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1d9d2bbb4cdfa0e",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c01ba885cf2078ed",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6c5f2a80f9761ba",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "743925e24fa1cda7",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2b9b9712b1efe9d",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "240de0a6c4a22897",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "4ebad43834cf5938",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "d2ce228493830ece",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "09ce0eb6b36d0475",
        "type": "ui_spacer",
        "z": "ea8c30375127ce48",
        "name": "spacer",
        "group": "a4244ab9a132ff7a",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4244ab9a132ff7a",
        "type": "ui_group",
        "name": "Image Prediction",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4d5246445f9408f",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "fbd536a.22bf9c8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]