webcam_image.json
[
    {
        "id": "ea8c30375127ce48",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac18dde525ea42f3",
        "type": "template",
        "z": "ea8c30375127ce48",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "dc2776abc0b593ec"
            ]
        ]
    },
    {
        "id": "dc2776abc0b593ec",
        "type": "ui_template",
        "z": "ea8c30375127ce48",
        "group": "a4244ab9a132ff7a",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c115eab5b49f82a9",
        "type": "ui_button",
        "z": "ea8c30375127ce48",
        "name": "",
        "group": "a4244ab9a132ff7a",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture Image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b4711266e560e1ee"
            ]
        ]
    },
    {
        "id": "d148c7ae53b8fcca",
        "type": "ui_text",
        "z": "ea8c30375127ce48",
        "group": "a4244ab9a132ff7a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "896962b0604bf3e7",
        "type": "teachable machine",
        "z": "ea8c30375127ce48",
        "name": "",
        "mode": "online",
        "modelUrl": "https://teachablemachine.withgoogle.com/models/_OGgPNEIv/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "5efe29654beb44c2"
            ]
        ]
    },
    {
        "id": "422427301b89e8da",
        "type": "ui_button",
        "z": "ea8c30375127ce48",
        "name": "",
        "group": "a4244ab9a132ff7a",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "d148c7ae53b8fcca"
            ]
        ]
    },
    {
        "id": "5efe29654beb44c2",
        "type": "function",
        "z": "ea8c30375127ce48",
        "name": "",
        "func": "msg.payload = msg.payload[0].class \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "d148c7ae53b8fcca",
                "a89f6177052bb174"
            ]
        ]
    },
    {
        "id": "a89f6177052bb174",
        "type": "debug",
        "z": "ea8c30375127ce48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "38b84cc0c2cbffae",
        "type": "base64",
        "z": "ea8c30375127ce48",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "ac18dde525ea42f3"
            ]
        ]
    },
    {
        "id": "b4711266e560e1ee",
        "type": "http request",
        "z": "ea8c30375127ce48",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.86.35:8080/?action=snapshot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "896962b0604bf3e7",
                "1c218d1534a5dc3e",
                "1c8f64f6a4580ea0"
            ]
        ]
    },
    {
        "id": "1c218d1534a5dc3e",
        "type": "imageSimple",
        "z": "ea8c30375127ce48",
        "imageData": "payload",
        "imageType": "msg",
        "autoresize": false,
        "original": false,
        "localfile": false,
        "flipX": true,
        "flipY": false,
        "width": 200,
        "height": 200,
        "rotate": 0,
        "crop": false,
        "cropX": 0,
        "cropY": 0,
        "cropWidth": 200,
        "cropHeight": 200,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "38b84cc0c2cbffae"
            ]
        ]
    },
    {
        "id": "65468a718d0e7945",
        "type": "ui_template",
        "z": "ea8c30375127ce48",
        "group": "d4d5246445f9408f",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 width=640 height=480 style=\"-webkit-transform:scale(0.5);-moz-transform-scale(0.5);\" src=\"http://192.168.86.35:8080/?action=stream/\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1c8f64f6a4580ea0",
        "type": "debug",
        "z": "ea8c30375127ce48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "faee6b6b17bb2f82",
        "type": "ui_text_input",
        "z": "ea8c30375127ce48",
        "name": "",
        "label": "IP Address:",
        "tooltip": "",
        "group": "a4244ab9a132ff7a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "b8777ee93ab16ec6"
            ]
        ]
    },
    {
        "id": "b8777ee93ab16ec6",
        "type": "function",
        "z": "ea8c30375127ce48",
        "name": "text",
        "func": "var lastinput = context.get(\"lastinput\") || \"\";\n\nif(msg.topic === \"textinput\"){\n    lastinput = msg.payload;\n    context.set(\"lastinput\",lastinput);\n}\nif(msg.topic === \"save\"){\n    msg.payload = lastinput;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 240,
        "wires": [
            [
                "b4711266e560e1ee",
                "65468a718d0e7945"
            ]
        ]
    },
    {
        "id": "475f873b1a284d2e",
        "type": "ui_button",
        "z": "ea8c30375127ce48",
        "name": "",
        "group": "a4244ab9a132ff7a",
        "order": 32,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "save",
        "topicType": "str",
        "x": 50,
        "y": 320,
        "wires": [
            [
                "b8777ee93ab16ec6"
            ]
        ]
    },
    {
        "id": "a4244ab9a132ff7a",
        "type": "ui_group",
        "name": "Image Prediction",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4d5246445f9408f",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "fbd536a.22bf9c8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]